snippet im "import" b
import ${1} from '${0}'
endsnippet

snippet imr "import (require)" b
import ${1} = require('${0}')
endsnippet

snippet af "anonymous function (with block)" i
(${1}) => {
  ${2}
}${0}
endsnippet

snippet cl "console.log" w
console.log(${1})${0}
endsnippet

snippet terr "throw new Error" w
throw new Error(${1})${0}
endsnippet

# vim:ft=snippets:
