snippet cl "console.log" w
console.log(${1})${0}
endsnippet

snippet group "console.group" w
try {
  console.group('${1}')
  ${2:${VISUAL}}
} finally {
  console.groupEnd('$1')
}
endsnippet

snippet groupc "console.groupCollapsed" w
try {
  console.groupCollapsed('${1}')
  ${2:${VISUAL}}
} finally {
  console.groupEnd('$1')
}
endsnippet

snippet terr "throw new Error" w
throw new Error(${1})${0}
endsnippet

# vim:ft=snippets:
